html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  
.background {
    height: 100%;
    background-image: linear-gradient(to bottom, #0d1b2a, #1b263b, #415a77, #778da9);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-size: 400% 400%;
    animation: gradient 20s cubic-bezier(0.42, 0, 0.58, 1) infinite, move 20s cubic-bezier(0.42, 0, 0.58, 1) infinite;
}

@keyframes gradient {
    0% {
        background-image: linear-gradient(to bottom, #0d1b2a, #1b263b, #415a77, #778da9);
    }
    50% {
        background-image: linear-gradient(to bottom, #415a77, #778da9, #e0e1dd, #0d1b2a);
    }
    100% {
        background-image: linear-gradient(to bottom, #0d1b2a, #1b263b, #415a77, #778da9);
    }
}

@keyframes move {
    0% {
        background-image: linear-gradient(to bottom, #0d1b2a, #1b263b, #415a77, #778da9);
    }
    50% {
        background-position: 50% 100%;
    }
    100% {
        background-position: 50% 0%;
    }
}

  .upfooter {
    margin-top: 2rem;
  }
  
.logo {
    height: 15%;
    animation: logoTransform 1s ease-in forwards;
}

@keyframes logoTransform {
    0% {
        height: 20%;
        transform: scale(1.1);
    }
    50% {
        height: 17%;
        transform: scale(1.05);
    }
    100% {
        height: 15%;
        transform: scale(1);
    }
}

#start-button {
    background-color: #778da9;
    color: white;
    border: none;
    padding: 1rem 5rem;
    font-size: 1.5rem;
    cursor: pointer;
    border-radius: 50px;
    transition: all 0.3s ease, outline-offset 0.3s ease;
    margin-bottom: 4rem;
    transform: scale(1);
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}

#start-button:hover {
    transform: scale(1.2);
    outline-style: double;
    outline-offset: 0.5rem;
    transform: perspective(500px) rotate3d(1, 1, 0, 20deg);
    filter: brightness(1.2);
    outline-offset: 1rem; /* Expands slowly due to transition */
}

#start-button::after, card::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: #415a77;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 10px;
    border-radius: 50px;
    transform: scale(1);
    transition: all 0.3s ease, outline-offset 0.3s ease;

    background-image: conic-gradient(45deg, red, #006aff, #1b263b);
    animation: 3s spin linear infinite;
}

#start-button::before {
    filter: blur(1.5rem);
    opacity: 0.5;
}

#start-button:hover::after {
    outline-offset: 0.7rem;
    outline-style: double;

}






